*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.panel {
  font-family: "Arial", "Verdana";
}

.panel-header,
.panel-footer {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  height: 48px;
  background-color: #eee;
}

.panel-header {
  font-size: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
}
.panel-body {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 12px 24px;
}

.panel-body input {
  outline: none;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 6px 0;
  height: 22px;
}

.panel button {
  height: 22px;
  border: 1px solid grey;
  border-radius: 3px;
  width: 64px;
}

.panel button:hover {
  border: 1px solid lightgrey;
}

.panel button[type="reset"] {
  background-color: darkred;
  color: white;
}

.panel button[type="submit"] {
  background-color: green;
  color: white;
}

.panel-footer {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  justify-content: right;
}

.group {
  display: block;
  margin: 6px 0;
}

.group label {
  display: block;
}
